.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.todolist {
  border: 1px solid aqua;
  border-radius: 5px;
  background-color: powderblue;
  padding: 20px;
}
