.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.todolist {
  border: 1px solid aqua;
  border-radius: 5px;
  background-color: powderblue;
  padding: 20px;
}

.task {
  font-weight: bold;
}

.task-done {
  text-decoration: line-through;
  opacity: 0.5;
}

.btn-filter-active {
  background-color: deepskyblue;
  border: 2px solid deepskyblue;
  border-radius: 3px;
  font-weight: bold;
}

.btns-filter-block {
  display: flex;
  gap: 6px;
}
